<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--   -->
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <!--   -->

  <!--   -->
  <connectionStrings>
    <add name="SqlCnx" connectionString="Data Source=LAPJNAVA\SQLSRV2014;Initial Catalog=mvvmTest;User ID=jnava;Password=TgzQoOEp;"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- CAMBIOOOOOOOOOOOOOOOOOOOOO  -->

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" /> 
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  
  
  <system.serviceModel>
    <!--   -->
    <services>
      <service name="SP.General.ServiciosWeb.Clientes.ClienteServicio" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding"
                  contract="SP.General.IServicios.Clientes.IClienteServicio"
                  behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <!--   -->
    
    
    <behaviors>
      <serviceBehaviors>
        <!--   -->
        <behavior name="serviceBehavior">
        <!--   -->

        <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
        <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
        <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <!--   -->
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <!--   -->
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    </modules>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
